.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid rgb(171, 171, 171);
  width: 400px;
  height: 100%;
  border-radius: 10px;
  background: white;
}

.card_img_container img {
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.price_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AditionalInfo span:nth-child(1) {
  font-weight: bold;
  font-size: 15px !important;
}

.AditionalInfo span:nth-child(2) {
  color: brown;
  font-weight: bold;
}

.footer_container > * {
  margin: 0 5px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 950px) {
  .card {
    width: 90%;
    margin: 10px 0;
  }
}
