.Product_container {
  display: grid !important;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.Product_Image_container img {
  width: 380px;
  object-fit: cover;
  padding: 10px;
  border-radius: 10px;
}

.Product_info {
  margin-top: 50px;
  padding: 10px 0;
}

@media (max-width: 850px) {
  /*   .Carousel_container {
    display: flex;
    flex-direction: column;
  }
 */
  .Product_container {
    width: 100%;
    grid-template: none;
    justify-items: center;
  }

  .Product_Image_container img {
    width: 280px;
    object-fit: cover;
  }

  .ActionsButtons_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ActionsButtons_container button {
    margin: 10px 0;
    width: 90vw;
  }
}

@media (max-width: 850px) {
  .Carousel_container .ant-carousel .slick-slider .slick-list .slick-track {
    display: flex;
    align-items: center;
  }
}
